* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	
}

body {
	background-color: yellow;
	margin:50px;
}

h1 {
	color: lime;

}

h4 {
	color: cyan;

}

.section {	
	border-radius: 15px;
	padding:5px;
	margin:10px;
	background-color: red;
	color:yellow;

}

.stage {
	background-color: purple;	
	padding: 10px;
}