<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Udacity Nanodegree - Intro to Programming</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>
        <div>
		    <h1>Introduction to Programming Nanodegree</h1>
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Udacity_Logo.svg/939px-Udacity_Logo.svg.png" alt="Udacity Logo" style="width:100px;height:75px" position righ>
        </div>

        <div>
            {% block content %}
            {% endblock %}
        </div>
        <br>

        <div>
            <form method="post">
              <div><textarea name="comment" rows="5" cols="50" id="comments" required></textarea></div>
              <div><input type="submit" value="What do you think?"></div>
            </form>
        </div>

        <div>
            {% if comment_msg[0]== 'E' %}
                <font color="red" size ='5'>Sorry, no blank comments allowed.</font>
            {% elif comment_msg[0] == 'S' %}
                <font color="blue" size ='5'>Your comment has been posted!</font>
            {% endif %}

            <h1>Comments</h1>
            <ol>
                {% for c in user_comments %}
                    <font color="green" size="5"><li>{{c.content}}</li></font>
                    <br>
                {% endfor %}
            </ol>
        </div>
	</body>

</html>