{% extends 'base.html' %}
{% block content %}

    <div><h1>Pick a Stage</h1></div>
    <div><a href="/stage0">Stage 0 - HTML Basics</a><br>a few minutes of your time.</div>
    <br>
    <div><a href="/stage1">Stage 1 - More HTML and CSS Basics</a><br>Boring but profound?</div>
    <br>
    <div><a href="/stage2">Stage 2 - Python Basics</a><br>Neat tricks.</div>
    <br>
    <div><a href="/stage3">Stage 3 - Python Object Oriented Programming</a><br>If you don't like this, quit.</div>
    <br>
    <div><a href="/stage4">Stage 4 - Networks, HTTP, Google App Engine, HTML Forms and Templates, Databases, SQL bait and switch!... and more Python</a><br>Keeping it to 5 stages?</div>
    <br>

{% endblock %}

